.card-details{
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 20px;
}
.body-contents{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}